{% extends 'base.html.twig' %}

{% block title %}Liste des organisateurs{% endblock %}

{% block body %}
    <h1 class= "title fs-3 text">Liste des organisateurs</h1>
    <a class="add" href="{{ path('app_backoffice_organizer_new') }}"><button type="button" class="btn btn-outline-success">Ajouter</button></a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>Type</th>
                <th>Description</th>
                <th>Logo</th>
                <th>Email</th>
                <th>Phone</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for organizer in organizers %}
            <tr>
                <td>{{ organizer.id }}</td>
                <td>{{ organizer.name }}</td>
                <td>{{ organizer.address }}</td>
                <td>{{ organizer.type ? 'Yes' : 'No' }}</td>
                <td>{{ organizer.description }}</td>
                <td>{{ organizer.logo }}</td>
                <td>{{ organizer.email }}</td>
                <td>{{ organizer.phone }}</td>
                <td>{{ organizer.createdAt ? organizer.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ organizer.updatedAt ? organizer.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_backoffice_organizer_show', {'id': organizer.id}) }}"><button type="button" class="btn btn-outline-dark">Afficher</button></a>
                    <a href="{{ path('app_backoffice_organizer_edit', {'id': organizer.id}) }}"><button type="button" class="btn btn-outline-warning">Éditer</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_backoffice_organizer_new') }}">Create new</a>
{% endblock %}
