{% extends 'base.html.twig' %}

{% block title %}Organizer{% endblock %}

{% block body %}
    <h1>Organizer</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ organizer.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ organizer.name }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ organizer.address }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ organizer.type ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ organizer.description }}</td>
            </tr>
            <tr>
                <th>Logo</th>
                <td>{{ organizer.logo }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ organizer.email }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ organizer.phone }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ organizer.createdAt ? organizer.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ organizer.updatedAt ? organizer.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_backoffice_organizer_index') }}">back to list</a>

    <a href="{{ path('app_backoffice_organizer_edit', {'id': organizer.id}) }}">edit</a>

    {{ include('backoffice/organizer/_delete_form.html.twig') }}
{% endblock %}
