{% extends 'base.html.twig' %}

{% block title %}L'artiste : {{ artist.pseudo }}{% endblock %}

{% block body %}
    <h1 class="title fs-3 text">Éditer l'artiste : {{ artist.pseudo }}</h1>

    {{ include('backoffice/artist/_form.html.twig', {'button_label': 'Update'}) }}

     <a  href="{{ path('app_backoffice_artist_index') }}"><button type="button" class="btn btn-outline-dark">Retour à liste</button></a>

    {{ include('backoffice/artist/_delete_form.html.twig') }}
{% endblock %}
