{% extends 'base.html.twig' %}

{% block title %}Artist index{% endblock %}

{% block body %}
    <h1>Artist index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pseudo</th>
                <th>Name</th>
                <th>FirstName</th>
                <th>Birthdate</th>
                <th>Image</th>
                <th>Bio</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for artist in artists %}
            <tr>
                <td>{{ artist.id }}</td>
                <td>{{ artist.pseudo }}</td>
                <td>{{ artist.name }}</td>
                <td>{{ artist.firstName }}</td>
                <td>{{ artist.birthdate ? artist.birthdate|date('Y-m-d') : '' }}</td>
                <td>{{ artist.image }}</td>
                <td>{{ artist.bio }}</td>
                <td>{{ artist.email }}</td>
                <td>{{ artist.phone }}</td>
                <td>{{ artist.address }}</td>
                <td>{{ artist.createdAt ? artist.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ artist.updatedAt ? artist.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_backoffice_artist_show', {'id': artist.id}) }}">show</a>
                    <a href="{{ path('app_backoffice_artist_edit', {'id': artist.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_backoffice_artist_new') }}">Create new</a>
{% endblock %}
